@import "./variable";
html {
  font-size: @base-font-size;
}
body {
  color: #373a3c;
  font-family: "Source Sans Pro", sans-serif;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #373a3c;
}
.content-width {
  max-width: 1140px;
  margin: 0 auto;
}
input[disabled=disabled], input[disabled=disabled]:hover, input[disabled=disabled]:focus {
  cursor: not-allowed !important;
}
button[disabled=disabled], button[disabled=disabled]:hover, button[disabled=disabled]:focus{
  cursor: not-allowed !important;
}
